:root {
  --color-main: #fdea3f;
  --color-light: #fdea3f;
  --color-active: #ddc807;
  --color-alert: #ff6666;
  --height-header-mobile: 50px;
  --height-header-desktop: 50px;
  --rd-form: 8px;
  --rd-area: 12px;
  --gap: 8px;
  --color-scrollbar: #cfcfcf;
  --color-scrollbar-sidebar: var(--color-scrollbar);
  --grd-dark: linear-gradient(-30deg, #ffcc34, #be8e00);
  --grd-bright: linear-gradient(-30deg, #ffce3b, #e0a800);
  --grd-suggestion: linear-gradient(to bottom, #dfdeca00, #dfdeca8f, #dfdeca, #dfdeca8f, #dfdeca00);
  --color-text-main: #222;
  --color-text-second: #444;
  --color-text-third: #565656;
  --color-br-title-block: #999;
  --color-border: #cecece60;
  --color-bg: #f0f4f7;
  --color-bg-area: #fff;
  --color-a: #737308;
  --color-a-hover: #9d9d3a;
  --color-bg-popup: 240, 240, 240;
  --color-btn-gray: var(--color-text-third);
  --color-btn-gray-hover: var(--color-text-main);
  --color-border-btn-normal: #d8d8bc;
  --color-bg-btn-normal: #fff;
  --color-text-btn-normal: var(--color-a);
  --color-border-btn-normal-hover: #000;
  --color-bg-btn-normal-hover: #000;
  --color-text-btn-normal-hover: #d8d8bc;
  --color-bg-btn-disabled: #dfdfdf;
  --color-text-btn-disabled: #878787;
  --color-border-btn-disabled: #dfdfdf;
  --color-app: #000;
  --color-bg-header: #f7f5f1;
  --width-chat: clamp(360px, 72%, 960px);
  --color-bg-chat: #fff;
  --color-bg-chat-input: #eceae5;
  --shadow-bg-chat-input: rgba(100, 100, 111, 0.2) 0px 0 20px 0px;
  --shadow-bg-chat-input: none;
  --color-text-chat-input: var(--color-text-main);
  --bg-assistant: linear-gradient(to bottom, #ffffff00 0%, #ffffff 60%);
  --color-bg-btnfn: #f0efe200;
  --color-icon-btnfn: #000;
  --color-bg-btnfn-hover: #f3f2e7;
  --color-icon-btnfn-hover: #000;
  --color-bg-voice-active: var(--color-light);
  --color-icon-voice-active: #000;
  --color-bg-submit: #000;
  --color-icon-submit: #fdea3f;
  --color-bg-submit-hover: #fdea3f;
  --color-icon-submit-hover: #000;
  --padding-bubble: 0 0 8px;
  --padding-self: 8px 12px;
  --color-bg-bubble: #fff;
  --color-text-self: #000;
  --color-bg-self: #dfdeca;
  --color-title-sugst: #000;
  --color-star-sugst: #b6a188;
  --color-text-sugst: #000;
  --color-border-sugst: #000;
  --color-bg-sugst: #fff;
  --color-text-sugst-hover: var(--color-light);
  --color-border-sugst-hover: #000;
  --color-bg-sugst-hover: #000;
  --color-border-btn-sugst: #ead621;
  --color-bg-btn-sugst: var(--color-main);
  --color-text-btn-sugst: #000;
  --color-border-btn-sugst-hover: #000;
  --color-bg-btn-sugst-hover: #000;
  --color-text-btn-sugst-hover: #d8d8bc;
  --color-bg-chat-top-fnbar: #000;
  --color-border-chat-top-fnbar: #000;
  --color-text-chat-top-fnbar: #fff;
  --shadow-chat-top-fnbar: rgba(118, 118, 118, 0.25) 0px 5px 15px;
  --color-bg-sidebar: #f7f5f1;
  --color-bg-session-hover: var(--color-light);
  --color-text-session: #323232;
  --color-text-session-hover: #000;
  --color-text-session-active: #333;
  --color-strong-session-active: #000;
  --color-text-bot: #000;
  --color-bg-bot-hover: #000;
  --color-text-bot-active: var(--color-light);
  --gap-form: 8px;
  --rd-form: 4px;
  --height-input: 36px;
  --color-form-border: #ccc;
  --color-bg-input: #f9f9f9;
  --color-bg-input-disabled: #f5f5f5;
  --color-text-input-disabled: #888;
  --color-placeholder: #666;
  --color-bg-checkbox: var(--color-bg-input);
  --color-border-checkbox: #d1d1d1;
  --color-bg-checkbox-active: #000;
  --color-border-checkbox-active: #000;
  --check-img: url("../img/check.svg");
  --folder-img: url("../img/folder-yellow.svg");
  --color-highlight-markdown: #000;
  --color-bg-list-markdown: #97836b;
  --color-a-markdown: var(--color-a);
  --chat-input-height: 62px;
}
